@model PagedList.IPagedList<eShopper.Models.Order>
@using PagedList.Mvc;

<link href="~/Content/PagedListAdmin.css" rel="stylesheet" />

@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Layout/_Admin.cshtml";
}

@using (Html.BeginForm("Index", "Order", FormMethod.Get))
{
    <table class="table">
        <tr style="border-top:hidden">
            <td>@Html.TextBox("name", "", new { @placeholder = "customer's name", @class = "form-control" })</td>
            <td>@Html.TextBox("date", "", new { @type = "date", @class = "form-control" })</td>
            <td>@Html.DropDownList("ddl1", (IEnumerable<SelectListItem>)ViewBag.PM, htmlAttributes: new { @class = "form-control" })</td>
            <td>@Html.DropDownList("ddl2", (IEnumerable<SelectListItem>)ViewBag.PS, htmlAttributes: new { @class = "form-control" })</td>
            <td>@Html.DropDownList("ddl3", (IEnumerable<SelectListItem>)ViewBag.OS, htmlAttributes: new { @class = "form-control" })</td>
            <td><input type="submit" value="Search" class="btn" style="background-color:#33B35A; color:white" /></td>
            <td><a href=@Url.Action("Index", "Order") class="btn" style="background-color:#33B35A; color:white">Refresh</a></td>
        </tr>
    </table>
}

<table class="table" style="border: 2px solid #33B35A">
    <tr>
        <th style="background-color: #33B35A; color:white; text-align:center">Customer</th>
        <th style="background-color: #33B35A; color:white; text-align:center">Date</th>
        <th style="background-color: #33B35A; color:white; text-align:center">Payment</th>
        <th style="background-color: #33B35A; color:white; text-align:center">Payment Method</th>
        <th style="background-color: #33B35A; color:white; text-align:center">Payment Status</th>
        <th style="background-color: #33B35A; color:white; text-align:center">Order Status</th>
        <th style="background-color: #33B35A; color:white; text-align:center"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">@item.User.User_Lastname</td>
            <td style="text-align:center">@item.Order_Date</td>
            <td style="text-align:center">$ @String.Format("{0:0,0}", item.Order_Payment)</td>
            <td style="text-align:center">@item.Payment_Method</td>
            <td style="text-align:center">@item.Payment_Status</td>
            <td style="text-align:center">@item.Order_Status</td>
            <td style="text-align:center">
                <a href=@Url.Action("OrderDetails", "Order", new { id = item.Order_ID }) class="btn btn-sm" style="background-color:#33B35A; color:white">Details</a>
            </td>
        </tr>
    }
</table>

<div>
    <h6 style="color:#33B35A">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</h6>

    @Html.PagedListPager(Model, page_no => Url.Action("Index", new
    {
        page_no,
        name = Request.QueryString["name"],
        date = Request.QueryString["date"],
        ddl1 = Request.QueryString["ddl1"],
        ddl2 = Request.QueryString["ddl2"],
        ddl3 = Request.QueryString["ddl3"],
    }),
                               new PagedListRenderOptions
                               {
                                   DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                   DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                   DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                   DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                   MaximumPageNumbersToDisplay = 3
                               })
</div>

